.root {
    -fx-background-color: #232526;
}

.exitButton {
    -fx-background-color: rgb(255, 55, 55);
    -fx-background-radius: 15px;
}

.reduceButton {
    -fx-background-color: rgb(84, 255, 117);
    -fx-background-radius: 15px;
}

.maximizeButton {
    -fx-background-color: rgb(255, 152, 55);
    -fx-background-radius: 15px;
}

.labelTitle {
    -fx-text-fill: white;
    -fx-font-family: Noto Sans;
    -fx-font-size: 14px;
}

.btn-nav {
    -fx-background-color: none;
}

.btnBarNav {
    -fx-background-color: #414345;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}